<!-- 🛠 MusicPanel component -->
<div class="panel panel-default Panel__border--black">
    <div class="panel-heading flex-center">
        <h3 class="panel-title text-green">
            {{track}}
        </h3>
    </div>
    <div class="panel-body flex-row">
        <button class="bn transparent" data-target="#myCarousel2" data-slide="prev" tabindex="0">
            <svg class="w15-5vw cp">
                <use xlink:href="#icon-left-arrow">
                    <title>Previous</title>
                </use>
            </svg>
        </button>
        <audio id="{{audio_id}}" src="{{src}}"></audio>
        <button id="{{playPause}}" class="bn transparent" tabindex="0">
            <div class="green pr w15-5vw h15-5vw br10 cp" title="Play">
                <span id="{{playid}}" class="shapeshifter sprite t50 l50 ttc pa pause"></span>
            </div>
        </button>
        <button class="bn transparent" data-target="#myCarousel2" data-slide="next" tabindex="0">
            <svg class="w15-5vw cp">
                <use xlink:href="#icon-right-arrow">
                    <title>Next</title>
                </use>
            </svg>
        </button>
    </div>
</div>