<!-- 🛠 modalbookingform3 component -->
        <div id="booking" class="modal pf t0 l0 r0 b0 dn overflowyh overflowxh grey">
            <h1 class="text-center">Make a booking</h1>
            <button id="cancelbooking">
                <svg class="pa t0 r0 w15-5vw z1" tabindex="0">
                    <use xlink:href="#icon-x">
                        <title>Cancel</title>
                    </use>
                </svg>
            </button>
            <div class="container">
                <div class="row">
                    <form action="javascript:void(0)" class="darkgrey Panel__border--black pa t50 l50 ttc col-xs-11 col-sm-8"
                        method="post">
                        <!-- Form Name -->
                        <fieldset>
                            <legend class="text-left fs2 text-black m0 p0">Contact details</legend>
                            <!-- Text input-->
                            <div class="mb2p">
                                {# <div class="input-group"> #}
                                    <label for="textinputname">Name:</label>
                                    {# <i class="input-group-addon demo-icon icon-user text-black" aria-hidden="true"></i> #}
                                    <input autofocus id="textinputname" name="textinputname" type="text" placeholder="Your Name" >
                                {# </div> #}
                            </div>
                            <!-- Email input-->
                            <div class="mb2p">
                                {# <div class="input-group"> #}
                                    <label for="textinputemail">Email:</label>
                                    {# <i class="input-group-addon demo-icon icon-mail-alt text-black" aria-hidden="true"></i> #}
                                    <input id="textinputemail" name="textinputemail" type="email" placeholder="Email"
                                        >
                                {# </div> #}
                            </div>
                            <!-- Phone number input-->
                            <div class="mb2p">
                                {# <div class="input-group"> #}
                                    <label for="textinputphone">Phone:</label>
                                    {# <i class="input-group-addon demo-icon icon-phone text-black" aria-hidden="true"></i> #}
                                    <input id="textinputphone" name="textinputphone" type="text" placeholder="Phone"
                                        >
                                {# </div> #}
                            </div>
                            </fieldset>
                            <fieldset>
                                <legend class="text-left fs2 text-black m0 p0">Booking details</legend>
                            <!-- Date input-->
                            <div class="mb2p">
                                {# <div class="input-group">                  #}
                                    <label for="date-select">Available dates:</label>
                                    <select id="date-select">
                                        <option value="">--Please choose an option--</option>
                                        {% for event in events %}
                                            <option value="{{event.date}}">{{event.day}} {{event.date}} {{event.month}} {{event.time}}</option>
                                        {% endfor %}
                                    </select>
                                {# </div> #}
                            </div>
                            <!-- Number input-->
                            <div class="mb2p">
                                {# <div class="input-group"> #}
                                    <label for="numberinputguests">Number of guests:</label>
                                    {# <i class="input-group-addon demo-icon icon-users text-black" aria-hidden="true"></i> #}
                                    <input id="numberinputguests" name="numberinputguests" type="number" min="1"
                                        placeholder="Guests"  aria-label="numberofguests">
                                {# </div> #}
                            </div>
                            <!-- Text input-->
                            <div class="mb2p">
                                {# <div class="input-group"> #}
                                    <label for="venue">Venue:</label>
                                    {# <i class="input-group-addon demo-icon icon-location text-black" aria-hidden="true"></i> #}
                                    <input id="textinputvenue" name="venue" type="text" placeholder="Venue" >
                                {# </div> #}
                            </div>
                            <div class="pl2 pr2 mb2 mt2">
                                <div class="col-sm-12 text-center">
                                    <input type="reset" id="submit-button" />
                                    <label class="btn btn-success" for="submit-button">Reset</label>
                                    <span id="submit-button-error-message">
                                        This form will not submit
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>