<!-- 🛠 Gallery2 component -->
<input id="{{modalid}}" type="checkbox" />
<label class="{{modalid}} cp pa {{position}} m0a w33 h33 Gallery__background--position z0" for="{{modalid}}" style="background-image:url('{{src}}');" tabindex="0"></label>
